$font-color : Darkslategray;
$link-color : teal;
$bg-color : #fdf6e3;
$tags-selected-bgcolor: #FDF3D6;
$tags-selected-color: #1D2031;


%TimesText {
    font-family: 'Times New Roman', Times, serif;
    color: $font-color;
    text-align: center;
}

body {

    ol {
        padding-inline-start: 20px;
    }

    ul > li {
        list-style-type: none;
        font-weight: bold;
    }

    background-color: $bg-color;

    .card {
        background-color: $bg-color;
        .card-header {
            background-color: $bg-color;
            text-align: center;
        }
    
        .btn:focus,
        .btn:active:focus,
        .btn.active:focus,
        .btn.focus,
        .btn:active.focus,
        .btn.active.focus {
            outline: none;
            box-shadow:none;
        }
    }

    a {
        color: $link-color;
    }

    #viewMore {
        text-align: right;
    }
    
    header {
        margin-top: 50px;

        @media (min-width: 800px) {
            #welcome::before {
                content: "Welcome to My Web Page";
            }

            #moto-words:hover {
                color: $tags-selected-color;
                font-weight: bold;
                animation: waggle 2.5s linear;
                transform-origin: 50%;
            }

            #ver_descip::before {
                content: "Desktop";
            }
        }

        @media (max-width: 799px) {
            #welcome::before {
                content: "Welcome";
                text-transform: uppercase;
            }

            #moto-words > span {
                border-bottom:1px dashed;
            }

            #ver_descip::after {
                content: "Mobile ";
            }
        }

        #welcome {
            @extend %TimesText;
            font-size: 70px;
        }

        #moto-words {
            @extend %TimesText;
            margin-top: 55px;
            line-height: 10px;
            font-size: 25px;
            font-style: italic;
            margin-bottom: 75px;
            cursor: pointer;
        }

        #version {
            text-align: center;
        }

        #sub-title {
            @extend %TimesText;
            margin-top: 55px;
            line-height: 10px;
            font-size: 40px;
            margin-bottom: 75px;
        }
    }

    .tag {
        @extend %TimesText;
        cursor: pointer;
        border: none;
        outline: none;
        text-transform: capitalize;
        font-size: 25px;
        margin-bottom: 15px;
    }

    .panel {
        @extend %TimesText;
        text-align: left;
        display: none;
        margin-bottom: 40px;
        #skillsList > li {
            font-style: italic;
        }
    }


    .tag.active, .tag:hover {
        background-color: $tags-selected-bgcolor;
        color: $tags-selected-color;
        font-weight: bold;
    }

    footer {
        @extend %TimesText;
        right: 0;
        bottom: 0;
        position: relative;
        padding: 10px 1rem 10px 0;
        margin-top: 50px;
        font-size: 0.7em;
        text-align: right;
    }
}


@keyframes waggle {
    0%, 7% {
        transform: rotateZ(0);
    }
    15% {
        transform: rotateZ(-15deg);
    }
    20% {
        transform: rotateZ(10deg);
    }
    25% {
        transform: rotateZ(-10deg);
    }
    30% {
        transform: rotateZ(6deg);
    }
    35% {
        transform: rotateZ(-4deg);
    }
    40%, 100% {
        transform: rotateZ(0);
    }
}